* {
    padding: 0;
    margin: 0;
}

.bg_all {
    background-image: url(../../public/glassesImage/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48rem;
    position: relative;
    top: 0;
    left: 0;
}

.bg_card {
    background-color: white;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-name {
    background-image: url(../../public/glassesImage/model.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    width: 20rem;
}

.local-glass {
    padding-top: 6rem;
}